.header {
  border-bottom: 1px solid var(--primary-border-color);

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}
