:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-bgc: #f5f4fa;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-black-color: #2f303a;
  --secondary-btn-color: #188ce8;
  --secondary-border-color: #eeeeee;
  --primary-border-color: #ececec;
  --border-color: #afb1b8;
  --socials-bg-color: rgba(255, 255, 255, 0.1);
  --top-color: rgba(33, 150, 243, 0.9);
}
